<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/assets/css/font-awesome.min.css"
          th:href="@{/assets/css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="../static/assets/css/jquery-ui-1.10.3.full.min.css"
          th:href="@{/assets/css/jquery-ui-1.10.3.full.min.css}"/>
    <link rel="stylesheet" href="../static/assets/css/datepicker.css" th:href="@{/assets/css/datepicker.css}"/>
    <link rel="stylesheet" href="../static/assets/css/googleFamily.css" th:href="@{/assets/css/googleFamily.css}"/>
    <link rel="stylesheet" href="../static/assets/css/ui.jqgrid.css" th:href="@{/assets/css/ui.jqgrid.css}"/>
    <link rel="stylesheet" href="../static/assets/css/chosen.css" th:href="@{/assets/css/chosen.css}"/>
    <link rel="stylesheet" href="../static/assets/css/custom.css" th:href="@{/assets/css/custom.css}"/>
    <link rel="stylesheet" href="../static/assets/css/ace.min.css" th:href="@{/assets/css/ace.min.css}"/>
    <link rel="stylesheet" href="../static/assets/css/ace-rtl.min.css" th:href="@{/assets/css/ace-rtl.min.css}"/>
    <link rel="stylesheet" href="../static/assets/css/ace-skins.min.css" th:href="@{/assets/css/ace-skins.min.css}"/>
    <script src="../static/assets/js/jquery-2.0.3.min.js" th:src="@{/assets/js/jquery-2.0.3.min.js}"></script>
    <title>风控管理后台</title>
    <script type="text/javascript">
        /*<![CDATA[*/
        var grid_data = "";
        function costs(id) {
            $.post("goods/queryGoodsCostsByGoodsId", {"goodsId": id},
                function (data) {
                    $("#bankcardDiv").html("<table id=\"grid-table2\"></table>\n" +
                        "<div id=\"grid-pager2\"></div>\n" +
                        "<script type=\"text/javascript\">\n" +
                        "var $path_base = \"/\";" +
                        " <\/script> ");
                    grid_data = data;
                    jQuery(function ($) {
                        var grid_selector = "#grid-table2";
                        jQuery(grid_selector).jqGrid({
                            data: grid_data,
                            datatype: "local",
                            height: 400,
                            colNames: [' ', '产品id', '费用名称', '计费方式',
                                '费用值', '收取方式', '提前结清'],
                            colModel: [
                                {
                                    name: 'id', index: 'id', width: 80, fixed: true, sortable: false, resize: false,
                                    formatter: 'actions',
                                },
                                {
                                    name: 'goodsid',
                                    index: 'goodsid',
                                    width: 80,
                                    sorttype: "int",
                                    editable: false,
                                    hidden: true
                                },
                                {
                                    name: 'name',
                                    index: 'name',
                                    width: 120,
                                    editable: true,
                                    edittype: "select",
                                    editoptions: {value: "0:平台服务费;1:贷后服务费"}
                                    , formatter: function (cellvalue, options, cell) {
                                    if (cell.name == 0) {
                                        return '平台服务费'
                                    }
                                    if (cell.name == 1) {
                                        return '贷后服务费'
                                    }
                                }
                                },
                                {
                                    name: 'billingMethods',
                                    index: 'billingMethods',
                                    width: 120,
                                    editable: false,
                                    edittype: "select",
                                    editoptions: {value: "0:百分比;1:备用"}, formatter: function (cellvalue, options, cell) {
                                    if (cell.billingMethods == 0) {
                                        return '百分比'
                                    }
                                    if (cell.billingMethods == 0) {
                                        return '备用'
                                    }
                                }
                                },
                                {name: 'cost', index: 'cost', width: 80, editable: true},
                                {
                                    name: 'collectingMethods',
                                    index: 'collectingMethods',
                                    width: 80,
                                    editable: true,
                                    edittype: "select",
                                    editoptions: {value: "0:一次收取;1:按期收取"},
                                    formatter: function (cellvalue, options, cell) {
                                        if (cell.collectingMethods == 0) {
                                            return '一次收取'
                                        }
                                        if (cell.collectingMethods == 1) {
                                            return '按期收取'
                                        }
                                    }
                                },
                                {
                                    name: 'settlementModel',
                                    index: 'settlementModel',
                                    width: 80,
                                    editable: true,
                                    edittype: "select",
                                    editoptions: {value: "0:不退还;1:退还"}, formatter: function (cellvalue, options, cell) {
                                    if (cell.settlementModel == 0) {
                                        return '不退还'
                                    } else {
                                        return '退还'
                                    }
                                }
                                },
                            ],
                            viewrecords: true,
                            rowNum: 10,
                            rowList: [10, 20, 30, 100],
                            multiselect: false,
                            multiboxonly: false,
                            loadComplete: function () {
                                var table = this;
                                setTimeout(function () {
                                    styleCheckbox(table);
                                    updateActionIcons(table);
                                    updatePagerIcons(table);
                                    enableTooltips(table);
                                }, 0);
                            },
                            editurl: $path_base + "goods/addGoodsCosts",//nothing is saved
                            autowidth: true

                        });
                        //it causes some flicker when reloading or navigating grid
                        //it may be possible to have some custom formatter to do this as the grid is being created to prevent this
                        //or go back to default browser checkbox styles for the grid
                        function styleCheckbox(table) {
                            /**
                             $(table).find('input:checkbox').addClass('ace')
                             .wrap('<label />')
                             .after('<span class="lbl align-top" />')


                             $('.ui-jqgrid-labels th[id*="_cb"]:first-child')
                             .find('input.cbox[type=checkbox]').addClass('ace')
                             .wrap('<label />').after('<span class="lbl align-top" />');
                             */
                        }
                        //unlike navButtons icons, action icons in rows seem to be hard-coded
                        //you can change them like this in here if you want
                        function updateActionIcons(table) {
                            /**
                             var replacement =
                             {
                                 'ui-icon-pencil' : 'icon-pencil blue',
                                 'ui-icon-trash' : 'icon-trash red',
                                 'ui-icon-disk' : 'icon-ok green',
                                 'ui-icon-cancel' : 'icon-remove red'
                             };
                             $(table).find('.ui-pg-div span.ui-icon').each(function(){
						var icon = $(this);
						var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
						if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
					})
                             */
                        }
                        //replace icons with FontAwesome icons like above
                        function updatePagerIcons(table) {
                            var replacement =
                                {
                                    'ui-icon-seek-first': 'icon-double-angle-left bigger-140',
                                    'ui-icon-seek-prev': 'icon-angle-left bigger-140',
                                    'ui-icon-seek-next': 'icon-angle-right bigger-140',
                                    'ui-icon-seek-end': 'icon-double-angle-right bigger-140'
                                };
                            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                                var icon = $(this);
                                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                                if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
                            })
                        }
                        function enableTooltips(table) {
                            $('.navtable .ui-pg-button').tooltip({container: 'body'});
                            $(table).find('.ui-pg-div').tooltip({container: 'body'});
                        }
                    });
                }, "json");
            $('#myModalBankcardLabel').text('产品费用详情' +
                '');
            $("#bankcardModal").modal({
                keyboard: false,
                show: true,
                backdrop: "static"
            });
        }

        /*]]>*/
    </script>
</head>
<body>
<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header widget-header-small">
                <h4>产品表</h4>
            </div>
            <div class="widget-body">
                <div class="widget-body-inner" style="display: block;">
                    <div class="widget-main">
                        <div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-default" style="margin-bottom:10px;">
                                        <div class="panel-body">
                                            <form class="form-horizontal" role="form" onsubmit="return false;">
                                                <div class="form-group" style="margin-bottom: 0;">
                                                    <label class="col-sm-1 control-label">产品别名：</label>
                                                    <div class="col-sm-3" style="width: 200px;">
                                                        <input id="alias" data-original-title="Tooltip for name"
                                                               class="form-control radius" placeholder="关键字"
                                                               type="text"/>
                                                    </div>
                                                    <!--<label class="col-sm-1 control-label">用户账号：</label>
                                                    <div class="col-sm-3" style="width: 200px;">
                                                        <input id="qryUserName" data-original-title="Tooltip for name"
                                                               class="form-control radius" placeholder="关键字"
                                                               type="text"/>
                                                    </div>-->

                                                    <div class="col-sm-1">
                                                        <button id="queryBtn"
                                                                class="btn btn-info btn-sm btn-label-left radius">
                                                            <i class="fa fa-search"></i>查询
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12" id="table">
                                    <div style="margin-bottom: 10px;">
                                        <button class="btn btn-success btn-sm radius" id="GoodsBtn">
                                            <i class="fa  fa-plus"></i> 新增产品
                                        </button>
                                        <button class="btn btn-success btn-sm radius" id="GoodsCostsBtn">
                                            <i class="fa  fa-plus"></i> 新增产品费用
                                        </button>
                                    </div>
                                    <!-- <table id="jqGrid"></table>
                                     <div id="jqGridPager"></div>-->
                                    <table id="grid-table"></table>
                                    <div id="grid-pager"></div>
                                    <script type="text/javascript">
                                        var $path_base = "/goods";//this will be used in gritter alerts containing images
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="goodsModal" class="bootbox modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">新增产品</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" onsubmit="return false;" id="addGoods">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">产品名称</label>
                        <div class="col-sm-8">
                            <input name="name" type="text" class="form-control" placeholder="输入产品名称"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">产品别名</label>
                        <div class="col-sm-8">
                            <input name="alias" type="text" class="form-control" placeholder="输入产品别名"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">期限</label>
                        <div class="col-sm-8">
                            <input name="timeLimit" type="text" class="form-control" placeholder="输入期限"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" >还款类型</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="repaymentType">
                                <option value="0">等额本息</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">版本号</label>
                        <div class="col-sm-8">
                            <input name="version" type="text" class="form-control" placeholder="输入版本号"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">费用名称</label>
                        <div class="col-sm-8">
                            <input name="costname" type="text" class="form-control" placeholder="输入费用名称"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">计费方式</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="billingMethods">
                                <option value="0">百分比</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">费用值</label>
                        <div class="col-sm-8">
                            <input name="cost" type="text" class="form-control" placeholder="输入费用值"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">产品费率</label>
                        <div class="col-sm-8">
                            <input name="productRate" type="text" class="form-control" placeholder="输入产品费率"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">综合费率</label>
                        <div class="col-sm-8">
                            <input name="totalRate" type="text" class="form-control" placeholder="输入综合费率"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">逾期利率</label>
                        <div class="col-sm-8">
                            <input name="overdueInterest" type="text" class="form-control" placeholder="输入逾期利率"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">最大借款金额</label>
                        <div class="col-sm-8">
                            <input name="maxamount" type="text" class="form-control" placeholder="输入最大借款金额"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="confirm" type="button" id="addGoodsBtn" class="btn btn-success radius">
                    <span><i class="icon-ok"></i></span> &nbsp;保&nbsp;&nbsp;存
                </button>
                <button data-bb-handler="cancel" type="button"  class="btn btn-danger radius cancelSave">取消</button>
            </div>
        </div>
    </div>
</div>
<div id="goodsCostModal" class="bootbox modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myGoodsCostModalLabel">新增产品费用</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" onsubmit="return false;" id="addGoodsCosts">
                    <div class="form-group" style="display: none;">
                        <label class="col-sm-2 control-label">id</label>
                        <div class="col-sm-8">
                            <input id="goodsid" name="goodsid" type="text" class="form-control" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">费用名称</label>
                        <div class="col-sm-8">
                            <input name="name" type="text" class="form-control" placeholder="输入费用名称"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">计费方式</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="billingMethods">
                                <option value="0">百分比</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">费用值</label>
                        <div class="col-sm-8">
                            <input name="cost" type="text" class="form-control" placeholder="输入费用值"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">收取方式</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="collectingMethods">
                                <option value="0">一次收取</option>
                                <option value="1">按期收取</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">提前结清</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="settlementModel">
                                <option value="0">空</option>
                                <option value="1">不退还</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="confirm" type="button" id="addGoodsCostsBtn" class="btn btn-success radius">
                    <span><i class="icon-ok"></i></span> &nbsp;保&nbsp;&nbsp;存
                </button>
                <button data-bb-handler="cancel" type="button" class="btn btn-danger radius cancelSave">取消</button>
            </div>
        </div>
    </div>
</div>
<div id="bankcardModal" class="bootbox modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalBankcardLabel">产品费用详情</h4>
            </div>
            <div class="modal-body" id="bankcardDiv">

            </div>
        </div>
    </div>
</div>
<script src="../static/assets/js/ace-extra.min.js" th:src="@{/assets/js/ace-extra.min.js}"></script>
<!--[if lt IE 9]>
<script src="../static/assets/js/html5shiv.js" th:src="@{/assets/js/html5shiv.js}"></script>
<script src="../static/assets/js/respond.min.js" th:src="@{/assets/js/respond.min.js}"></script>
<![endif]-->
<script src="../static/assets/js/jqGrid/jquery.jqGrid.min.js"
        th:src="@{/assets/js/jqGrid/jquery.jqGrid.min.js}"></script>
<script src="../static/assets/js/jqGrid/i18n/grid.locale-en.js"
        th:src="@{/assets/js/jqGrid/i18n/grid.locale-en.js}"></script>
<script src="../static/assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
<script src="../static/assets/js/typeahead-bs2.min.js" th:src="@{/assets/js/typeahead-bs2.min.js}"></script>
<!-- page specific plugin scripts -->
<script src="../static/assets/js/jquery-ui-1.10.3.custom.min.js"
        th:src="@{/assets/js/jquery-ui-1.10.3.custom.min.js}"></script>
<script src="../static/assets/js/date-time/moment.min.js" th:src="@{/assets/js/date-time/moment.min.js}"></script>
<script src="../static/assets/js/date-time/bootstrap-datepicker.min.js"
        th:src="@{/assets/js/date-time/bootstrap-datepicker.min.js}"></script>
<script src="../static/assets/js/jquery.slimscroll.min.js" th:src="@{/assets/js/jquery.slimscroll.min.js}"></script>
<script src="../static/assets/js/chosen.jquery.min.js" th:src="@{/assets/js/chosen.jquery.min.js}"></script>
<script src="../static/assets/js/ace-elements.min.js" th:src="@{/assets/js/ace-elements.min.js}"></script>
<script src="../static/assets/js/ace.min.js" th:src="@{/assets/js/ace.min.js}"></script>
<script src="../static/assets/js/md5.js" th:src="@{/assets/js/md5.js}"></script>
<script src="../static/assets/js/custom.js" th:src="@{/assets/js/custom.js}"></script>
<script src="../static/assets/js/jquery.messager.js" th:src="@{/assets/js/jquery.messager.js}"></script>
<script src="../static/assets/js/layer/layer.js" th:src="@{/assets/js/layer/layer.js}"></script>
<script src="../static/assets/js/bootbox.min.js" th:src="@{/assets/js/bootbox.min.js}"></script>
<script th:src="@{/js/goods-list.js}"></script>
<script type="text/javascript">
    $(function () {
        $('.date-picker').datepicker({
            autoclose: true,
            language: "cn",
            format: "yyyy-mm-dd"
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
    });
</script>

</body>
</html>