<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="application-name" content=""/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <title>哆啦付_购买协议</title>
    <link rel="stylesheet" href="../../static/assets/h5/css/reset.css" th:href="@{/assets/h5/css/reset.css}"/>
    <style>
        .xieyi_center {
            width: 94%;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
            height: 40px;
            line-height: 40px;
            font-size: 18px;
        }

        h2 {
            text-align: right;
            font-size: 12px;
            font-weight: 100;
        }

        p {
            font-size: 14px;
            line-height: 20px;
            margin: 10px 0;
            letter-spacing: 2px;
        }

        h3 {
            text-align: center;
            height: 44px;
            line-height: 44px;
            font-size: 16px;
        }

        h4 {
            height: 30px;
            line-height: 30px;
            font-size: 15px;
        }
    </style>
</head>
<body>
<div class="xieyi_center">
    <h1>委托购买服务协议</h1>
    <h2>协议编号：<span th:text="${order}" style="text-decoration:underline">DLF00009845</span></h2>
    <h3>第一部分：服务信息及相关明细</h3>
    <p><b>【特别提醒】</b>：在委托人确认同意本合同之前，应事先了解本合同的全部内容，同意委托杭州众惠金服科技有限公司付款并购买相关商品和服务。一旦委托人在相关联网站及客户端等平台（以下简称“委托付款平台”）点击接受本合同，即意味着委托人已阅读本合同所有条款，并对本合同条款的含义及相应的法律后果已全部通晓并充分理解，同意接受本合同约束。
    </p>
    <p><b>【委托付款基本信息】</b>为保护委托人的信息，本合同在委托付款平台展示时隐藏部分委托人的敏感信息（本合同对委托人敏感部分信息的隐藏不影响本合同的效力）。</p>
    <p th:text="${'委托人：'+name}">委托人:</p>
    <p th:text="${'证件号码：'+idcard}">证件号码：</p>
    <p >证件类型：身份证 </p>
    <p th:text="${'合同签署日：'+time}">合同签署日：</p>
    <p>合同签订地：浙江省杭州市余杭区</p>
    <p>注：上述委托付款明细部分内容可能根据实际情况而调整，如有变化，以本协议签订时的哆啦付发布或更新的具体内容为准。</p>
    <h3>第二部分：本协议相关具体条款</h3>
    <h4>第1条 名词定义</h4>
    <p>除非上下文另有解释，下列用语具有以下含义：</p>
    <p><b>1.1&nbsp;</b>本协议：指本《委托购买服务协议》第一部分、第二部分及所有附件中的任何条款、 明细和信息；</p>
    <p><b>1.2&nbsp;</b>受托人：指本协议附件一中列明的受托提供代购服务人，为符合中华人民共和国法律（即中国法律，不包括香港特别行政区、澳门特别行政区和台湾地区的法律法规）规定的具有完全民事权利能力和民事行为能力，能独立行使和承担协议项下权利义务的自然人或企业法人；
    </p>
    <p><b>1.3&nbsp;</b>委托人：指本协议第一部分中列明的委托人，为符合中国法律规定的具有完全民事权利能力和民事行为能力，能独立承担本协议项下权利义务的自然人。委托人需为 "哆啦付"的注册用户；</p>
    <p><b>1.4&nbsp;</b>众惠金服：指经营哆啦付平台的杭州众惠金服科技有限公司；</p>
    <p><b>1.5&nbsp;</b>哆啦付：是指众惠金服经营的提供专业委托购买服务的平台；</p>
    <p><b>1.7&nbsp;</b>付款日期：受托人根据委托人指令，向购物平台支付委托人的商品购买订单之日；</p>
    <p><b>1.8&nbsp;</b>账单日：委托人在注册哆啦付账户时生成的向受托人支付委托服务产生的商品购买费用的付款日期。每月，付款日期在账单日前的委托购买交易，均计入当月账单，委托人需在每期账单的应付账款日前进行付款；</p>
    <p><b>1.9&nbsp;</b>应付账款日： 委托人委托购买的订单，按周期，根据委托人选择的偿付方式进行结算。应付账款日为每期账单的最后应付时间。</p>
    <h4>第2条 各方的权利义务 </h4>
    <p><b>2.1&nbsp;</b>委托人承诺，本人为具有完全民事权利能力和完全民事行为能力的自然人，有权签订并履行本协议。</p>
    <p><b>2.2&nbsp;</b>委托人承诺，已认真阅读和理解本协议所有内容并自愿按本协议相关约定履行相应的权利义务。</p>
    <p><b>2.3&nbsp;</b>委托人按本协议约定的委托付款明细及应付账款明细履行偿付义务。 </p>
    <p><b>2.4&nbsp;</b>委托人应妥善保管自己哆啦付平台的注册用户名和密码，自行承担因注册用户名和密码丟失、泄露或允许他人使用所产生的后果。任何一方使用委托人本人名义开户并设置了密码的委托人用以签约的账户在哆啦付平台所从事的所有行为均视为委托人本人行为，包括但不限于订立本合同、申请委托购买服务、支付委托购买服务费和支付货款等，该等行为的法律后果均由委托人本人承担。
    </p>
    <p><b>2.5&nbsp;</b>委托人承诺并保证其向众惠金服（哆啦付）提供的所有信息均为真实、准确、完整、合法和有效的，包括提供个人情况（包括但不限于姓名、身份证号、学历、联系方式、联系地址、职业
        信息、联系人信息等）、在所有网络借贷信息中介机构未偿还借款信息以及借款用途等相关信息。</p>
    <p><b>2.6&nbsp;</b>委托人向受托人发起委托购买指令时，需先行向受托人支付委托服务的服务费。若哆啦付平台有相关活动，实际服务费率根据活动进行调整，平台对活动具有最终解释权；受托人收到服务费后，审核是否按照委托人指令完成付款。如果该付款指令未审核通过，受托人将全额向委托人退还服务费。
    </p>
    <p><b>2.7&nbsp;</b>受托人按照委托人指定付款完成后，双方委托关系即转为服务购买关系；如因电商平台或者物流原因导致委托人对商品不满意，受托人不承担相应责任。如发生退换货，则物流费用由委托人承担；退款金额冲抵委托人与受托人之间的应付款项，已支付的委托购买服务费，按发生的退款占整笔订单的付款比例，按同比例退还对应服务费的一半，可用于抵扣委托人后续的委托代购所产生的相关费用。
    </p>
    <p><b>2.8&nbsp;</b>委托人承诺，自身具有与委托支付金额相匹配的购买能力并依照本协议约定履行支付相应费用的义务。</p>
    <p><b>2.9&nbsp;</b>委托人若未能如期偿付应还款，委托人知晓并同意，受托人有权自行或委托第三方，对委托人的应付账款进行催付。</p>
    <p><b>2.10&nbsp;</b>受托人将通过微信、短信等方式，对委托人的委托购买交易、应付款账单进行通知。通知成功发送，即视为委托人已知悉。委托人如对相关交易存在疑问，需在10天内进行反馈，否则均认为委托人知悉并认同相关委托交易。
    </p>
    <p><b>2.11&nbsp;</b>委托人当月如无委托交易，受托人当月有权不发送哆啦付平台应付账款账单。</p>
    <p><b>2.12&nbsp;</b>委托人承诺，不得利用哆啦付平台进行信用卡套现、房地产、洗钱或其他违法、违纪行为，否则应依法承担由此产生的法律责任与后果。 </p>
    <h4>第3条 合同说明</h4>
    <p><b>3.1&nbsp;</b>委托人与受托人一致同意以数据电文形式订立并认同其效力。</p>
    <p><b>3.2&nbsp;</b>委托人在哆啦付平台确认本合同后并不导致本合同立即生效，仅在经过受托人或哆啦付平台审核通过并履行代购协议相关服务内容，本合同开始生效。</p>
    <p><b>3.3&nbsp;</b>本协议项下的附件属于本协议不可分割的组成部分。本协议任何条款的标题仅系为方便援引和阅读而设置，不得被用于解释本协议任何条款的依据。</p>
    <p><b>3.4&nbsp;</b>本协议项下委托人每月应付账款日详见哆啦付平台显示。如当月无上述日期，则该月的最后一天为当月的应付账款日。如应付账款日为法定假日或公休日，应付账款日不顺延。</p>
    <p><b>3.5&nbsp;</b>本协议项下委托人在应付账款日前，需自行一次性支付应付账款。 </p>
    <p>备注：应付款项指上述第一部分列明的委托购物所产生的支付金额；</p>
    <h4>第4条 关于违约责任</h4>
    <p><b>4.1&nbsp;</b>若委托人在哆啦付上显示的应付期限内未足额支付的，须按下面方式计算向受托人支付违约金：违约金=(月应还账款-实际已还)x逾期天数x0.002/天（违约金系数）。违约金最高为委托服务所产生的付款总额。
    </p>
    <p><b>4.2&nbsp;</b>若委托人没有足额按照还款明细偿还款项的，所偿还之金额应按照违约金、委托付款金额之顺序偿还。</p>
    <p><b>4.3&nbsp;</b>若委托人提供虚假资料或者故意隐瞒重要事实，则受托人有权提前终止本协议并要求委托人提前支付相关款项，同时委托人须向受托人支付委托付款金额 30% 的违约金。</p>
    <p><b>4.4&nbsp;</b>委托人因违约而给受托人造成损失的，应承担赔偿责任，包括但不限于诉讼费、委托费、律师费等。</p>
    <p><b>4.5&nbsp;</b>发生以下一项或几项情形时，均视为委托人违约：</p>
    <p>（1）委托人违反其在本协议中所做的任何承诺或保证内容的；</p>
    <p>（2）委托人的任何财产遭受没收、征用、查封、扣押、冻结等可能影响其履行能力的不利事件，且未及时对其他各方进行书面通知或不能及时提供有效补救措施的；</p>
    <p>（3）委托人的财务状况出现实质性影响其履约能力的不利变化，且未及时对其他各方进行书面通知或不能及时采取有效补救措施的。</p>
    <h4>第5条 关于法律适用及管辖</h4>
    <p><b>5.1&nbsp;</b>适用法律。本协议的全部事项，包括但不限于本协议的效力、解释、履行以及争议
        的解决均受中国法律管辖；本协议项下任一条款如与中国法律中的强制性规范相抵触，应在该等强制性规范所不禁止的最大限度内进行解释和执行，且任何该等与强 制性规范相抵触的约定不应影响本协议其他条款的效力。</p>
    <p><b>5.2&nbsp;</b>争议管辖。双方一致同意，如发生争议，不论争议金额大小，均提交杭州仲裁委员会适用杭州仲裁委员会仲裁规则项下的简易程序进行仲裁。</p>
    <p><b>5.3&nbsp;</b>在仲裁期间，本协议中不涉及争议的条款仍须履行，各方均不得以解决争议为由拒 不履行其在本协议项下的任何义务。</p>
</div>

</body>
</html>

