<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="application-name" content=""/>
		<meta name="description" content=""/>
		<meta name="keywords" content="" />
		<meta content="yes" name="apple-mobile-web-app-capable"/>
		<title>哆啦付</title>
		<link rel="stylesheet" href="../../static/assets/h5/css/reset.css" th:href="@{/assets/h5/css/reset.css}"/>
		<link rel="stylesheet" href="../../static/assets/h5/css/first.css" th:href="@{/assets/h5/css/first.css}"/>
	</head>

	<body>
		<div class="begin_title">
			<a href="javascript:self.location=document.referrer;"><span class="back">
				<img src="../../static/assets/h5/images/jiantouhl.png" th:src="@{/assets/h5/images/jiantouhl.png}"/></span></a>
			帮助
		</div>
		<div class="helf_center">
			<ul>

				<a href="" th:href="'https://mp.weixin.qq.com/s?__biz=MzU2OTM2ODQwMg==&amp;mid=100000007&amp;idx=1&amp;sn=c61410af79563ef6b49ce2e2c929c8a1&amp;chksm=7cfe8b3a4b89022c4e81cea8f38ae4f09de7c5c5485402ea65735ac86d4593bd19844c9747bb#rd'"><li><span><img src="../../static/assets/h5/images/process.png" th:src="@{/assets/h5/images/process.png}"/></span>代购流程<b><img src="../../static/assets/h5/images/jiantouhr.png" th:src="@{/assets/h5/images/jiantouhr.png}"/></b></li></a>
				<a href="question"><li><span><img src="../../static/assets/h5/images/question.png" th:src="@{/assets/h5/images/question.png}"/></span>常见问题<b><img src="../../static/assets/h5/images/jiantouhr.png" th:src="@{/assets/h5/images/jiantouhr.png}"/></b></li></a>
				<a href="about"><li><span><img src="../../static/assets/h5/images/contact_us.png" th:src="@{/assets/h5/images/contact_us.png}"/></span>联系我们<b><img src="../../static/assets/h5/images/jiantouhr.png" th:src="@{/assets/h5/images/jiantouhr.png}"/></b></li></a>
			</ul>
		</div>
	</body>
</html>
