<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="application-name" content=""/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <title>哆啦付</title>
    <link rel="stylesheet" href="../../static/assets/h5/css/reset.css" th:href="@{/assets/h5/css/reset.css}"/>
    <link rel="stylesheet" href="../../static/assets/h5/css/first.css" th:href="@{/assets/h5/css/first.css}"/>
</head>

<body>
<div class="begin_title">
    <a href="javascript:self.location=document.referrer;"><span class="back">
				<img src="../../static/assets/h5/images/jiantouhl.png"
                     th:src="@{/assets/h5/images/jiantouhl.png}"/></span></a>
    个人资料
</div>
<div class="material_center">
    <ul>
        <a th:if="${idCard}">
            <li><span><img src="../../static/assets/h5/images/IDcard.png"
                           th:src="@{/assets/h5/images/IDcard.png}"/></span>
                身份认证<b class="material_success"></b>
            </li>
        </a>
        <a href="bindIdCard" th:if="${!idCard}">
            <li><span><img src="../../static/assets/h5/images/IDcard.png"
                           th:src="@{/assets/h5/images/IDcard.png}"/></span>
                身份认证<b class="certification"></b>
            </li>
        </a>
    </ul>
    <ul>
        <a th:if="${TMobile}">
            <li><span><img src="../../static/assets/h5/images/net.png" th:src="@{/assets/h5/images/net.png}"/></span>
                运营商认证<b class="material_success"></b>
            </li>
        </a>
        <a href="bindOperator" id="bindPhone" th:if="${!TMobile}">
            <li><span><img src="../../static/assets/h5/images/net.png" th:src="@{/assets/h5/images/net.png}"/></span>
                运营商认证<b class="certification"></b>
            </li>
        </a>
    </ul>
    <ul>
        <a th:if="${bankCard}">
            <li><span><img src="../../static/assets/h5/images/bank_card.png"
                           th:src="@{/assets/h5/images/bank_card.png}"/></span>
                银行卡认证<b class="material_success"></b>
            </li>
        </a>
        <a href="bindBankCard" id="bindBankCard" th:if="${!bankCard}">
            <li><span><img src="../../static/assets/h5/images/bank_card.png"
                           th:src="@{/assets/h5/images/bank_card.png}"/></span>
                银行卡认证<b class="certification"></b>
            </li>
        </a>
    </ul>
    <ul>
        <a th:if="${dianshang}">
            <li><span><img src="../../static/assets/h5/images/bank_card.png"
                           th:src="@{/assets/h5/images/bank_card.png}"/></span>
                电商数据验证<b class="material_success"></b>
            </li>
        </a>
        <a href="platfom" id="电商数据验证" th:if="${!dianshang}">
            <li><span><img src="../../static/assets/h5/images/bank_card.png"
                           th:src="@{/assets/h5/images/bank_card.png}"/></span>
                电商数据验证<b class="certification"></b>
            </li>
        </a>
    </ul>
</div>
<div class="material_tj">
    <button onclick="read2()">提交审核</button>
</div>
<div class="material_xz"><label onclick="check()"><input  type="checkbox" id="xieyi" value="1"/></label>我已阅读并同意<a href="dgprotocol"><b
        class="material_zy">使用条款</b></a></div>
<script type="text/javascript" src="../../static/assets/h5/js/jquery-1.8.3.min.js"
        th:src="@{/assets/h5/js/jquery-1.8.3.min.js}"></script>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var idCard = [[${idCard}]];
    var TMobile = [[${TMobile}]];
    var bankCard = [[${bankCard}]];
    var dianshang = [[${dianshang}]];
    function check() {
        if ($('#xieyi').is(':checked')) {
            $('#xieyi').val('0');
        } else {
            $('#xieyi').val('1');
        }
    }

    function read2() {
        if(!idCard||!TMobile||!bankCard||!dianshang){
            alert("请完成认证!");
        }else if($('#xieyi').val()!='1'){
            alert("请勾选协议");
        }else{
            window.location.href = "/wx/index";
        }
    }
    /*]]>*/
</script>

</html>