<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="application-name" content=""/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <title>哆啦付_协议</title>
    <link rel="stylesheet" href="../../static/assets/h5/css/reset.css" th:href="@{/assets/h5/css/reset.css}"/>
    <style>
        .xieyi_center {
            width: 94%;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
        }

        h2 {
            text-align: right;
            font-size: 12px;
            font-weight: 100;
        }

        p {
            font-size: 14px;
            line-height: 20px;
            margin: 10px 0;
            letter-spacing: 2px;
        }

        h3 {
            text-align: center;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
        }
    </style>
</head>
<body>
<div class="xieyi_center">
    <h1>哆啦付注册协议</h1>
    <h2>版本生效日期： 2018 年 01 月 25 日</h2>
    <p>杭州众惠金服科技有限公司（以下简称“众惠金服”）通过其运营的哆啦付平台依据本协议的规定为您（以下简称“用户”）提供服务。本协议在用户和众惠金服间具有法律效力。</p>
    <p><b>【审慎阅读】</b>您在申请注册流程中点击同意本协议之前，应当认真阅读本协议。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、授权条款、法律适用和争议解决条款。免除或者限制责任的条款、授权条款将以粗体标识，您应重点阅读。如您对本协议有任何疑问，可向哆啦付平台的客服咨询。
    </p>
    <p><b>【签约动作】</b>当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，即表示您已充分阅读、理解并接受本协议的全部内容，并承诺遵守中国的各类法律、法规、政策的规定，如有违反并导致任何法律后果的发生，您将以自己的名义独立承担所有相应的法律责任，且与众惠金服达成一致，成为哆啦付平台的注册用户。阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册程序。
    </p>
    <p><b>【协议修改】</b>在本协议履行过程中，<b>众惠金服可根据实际情况对协议的相关条款进行修改。众惠金服将通过哆啦付平台公布最新的协议，已签约的用户无需再次签约。如用户不同意众惠金服对本协议所做的修改，应在偿还所有的应付账款及服务费（包括但不限于应付账款、服务费、逾期违约金等）的前提下，停止使用众惠金服通过哆啦付平台提供的服务；如用户继续使用服务或未主动终止服务，则视为同意履行修改后的协议，并应依照修改后的协议履行应尽义务。</b>
    </p>
     
    <h3>第一章 哆啦付平台使用限制说明</h3>
    <p>第1条：</p>
    <p style="text-indent: 16px;">在使用众惠金服通过哆啦付平台提供的服务前，您必须先在哆啦付平台完成注册，成为哆啦付平台的注册用户。</p>
    <p>第2条：</p>
    <p style="text-indent: 16px;">
        用户必须为符合中华人民共和国法律规定的具有完全民事权利和民事行为能力，能够独立承担民事责任的自然人、法人或其他组织。若用户违反前述限制注册使用众惠金服提供的服务的，其监护人应承担所有责任。</p>
    <p>第3条：</p>
    <p style="text-indent: 16px;">
        用户有义务确保其信息的真实性、准确性、完整性和有效性，并承诺对其提供的信息及时进行更新。若众惠金服经判断有合理理由认定用户信息存在错误、虚假、过时情形的，众惠金服有权终止用户在哆啦付平台的账户；由此给用户造成损失的，众惠金服不承担任何责任。</p>
    <p>第4条：</p>
    <p style="text-indent: 16px;">
        用户有义务提供有效的联系方式，包括但不限于手机号码、电话号码、通讯地址、常用电子邮箱、联系人信息等。联系方式发生变更时，应在3日内进行更新。因用户未提供有效联系方式，导致众惠金服未能提供相应服务或给用户造成损失的，由用户自行承担全部损失和不利法律后果。</p>
    <h3>第二章 哆啦付平台服务内容说明</h3>
    <p>第5条：</p>
    <p style="text-indent: 16px;">
        众惠金服通过哆啦付平台为用户提供的服务包括但不限于：信息搜集、信息公布、甄别筛选、资信评估、信息交互、融资咨询等相关服务。部分服务需要用户完成身份认证才能享用。用户因未完成身份认证而无法享受服务的，众惠金服不承担任何责任。</p>
    <p>第6条：</p>
    <p style="text-indent: 16px;">用户同意，其在哆啦付平台上按流程所确认的状态，将成为进行相关操作的唯一依据。因用户未能及时对状态进行修改、确认而造成的损失由用户自行负责，众惠金服不承担任何责任。</p>
    <p>第7条：</p>
    <p style="text-indent: 16px;">
        众惠金服采取适当的方法和技术，记录并妥善保存代购服务数据和资料。用户绑定微信号、手机号为哆啦付平台发送重要通知信息的接收账号。任何信息从哆啦付平台发出起，即视为已告知用户。</p>
    <p>第8条：</p>
    <p style="text-indent: 16px;">众惠金服无法提供“即时”代购服务，用户因付款延迟及由此产生的损失，众惠金服不承担责任。</p>
    <p>第9条：</p>
    <p style="text-indent: 16px;">众惠金服将在法律允许的前提下尽到商业勤勉，保障其提供服务的质量以期用户可以通过哆啦付平台顺利进行及完成交易。</p>
    <p>第10条：</p>
    <p style="text-indent: 16px;">
        为了改善用户体验，众惠金服会根据需要对哆啦付平台的产品及服务的各功能使用情况进行统计，这些统计一般为应用使用时间、页面停留时间、访问次数，访问路径等，并且会对应用报错数据进行收集。通过分析统计数据可以帮助我们提高产品质量及服务质量。</p>
    <h3>第三章 用户信息收集、使用和提供</h3>
    <p>第11条：</p>
    <p style="text-indent: 16px;">
        为促进代购服务的合法顺利开展、便于众惠金服对用户进行必要审核和提供相关服务，用户需要向众惠金服提供包括但不限于姓名、身份证号码、手机号码、年龄、性别、职业、出生日期、户籍、通讯地址、教育情况、收入情况、婚姻家庭情况、通话情况、工作信息、收入信息、信用信息、信用卡信息、社保缴纳信息、公积金缴纳信息、银行流水信息、电商信息、保单信息等信息，且用户同意众惠金服对前述信息进行处理分析，并评定用户在本平台所拥有的信用等级。</p>
    <p>第12条：</p>
    <p style="text-indent: 16px;">用户授权和同意众惠金服将其身份证信息、手机号码、银行卡等提供给相应的机构进行校验，以核实其身份和信息的真实性。</p>
    <p>第13条：</p>
    <p style="text-indent: 16px;">用户授权和同意众惠金服将其相应的用户信息、校验及处理分析结果提供给对应的合作机构，以减少客户重复提供信息的次数及利于合作机构判断用户是否满足其条件要求。</p>
    <p>第14条：</p>
    <p style="text-indent: 16px;">为便于众惠金服向用户提供后续服务、馈赠礼品，用户授权和同意众惠金服将其联系方式信息提供给相应的合作商家。</p>
    <p>第15条：</p>
    <p style="text-indent: 16px;">
        众惠金服可能会与第三方合作向用户提供相应的服务，在此情况下，如该第三方同意承担与本平台同等的保护用户信息的责任，则用户同意众惠金服将用户的相应信息提供给该第三方，并同意该第三方与其进行联系；用户同意众惠金服及第三方向其引介众惠金服及其他主体的产品及服务。</p>
    <p>第16条：</p>
    <p style="text-indent: 16px;">众惠金服可能会从商业合作伙伴处获得用户信息以补充众惠金服自行收集的信息，以便于向用户提供服务，用户对此表示理解和同意。</p>
    <p>第17条：</p>
    <p style="text-indent: 16px;">
        为了更好地向用户提供服务，防范交易风险或确定违约责任，用户授权众惠金服向依法设立的征信机构查询用户的相关信用信息，包括但不限于任何信用分、信用报告、能够联系到用户的实体地址、电子邮件地址、电话号码。</p>
    <p>第18条：</p>
    <p style="text-indent: 16px;">为维护用户的合法权益或处理用户与他人的交易纠纷或争议，用户同意众惠金服将相关信息向相关机构或相对方进行共享。</p>
    <p>第19条：</p>
    <p style="text-indent: 16px;">
        根据法律规定及合理商业习惯，在众惠金服计划与其他公司合并或被其收购或进行其他资本市场活动（包括但不限于IPO，债券发行）时，以及其他情形下，众惠金服需要接受来自其他主体的尽职调查时，用户同意众惠金服把用户的信息提供给必要的主体，但我们会通过和这些主体签署保密协议等方式要求其对用户信息采取合理的保密措施。</p>
    <p>第20条：</p>
    <p style="text-indent: 16px;">如用户授权第三方向众惠金服查询、采集用户在哆啦付平台的账户相关信息，众惠金服有权在法律法规和用户的授权许可范围内向第三方分享用户账户的部分信息。</p>
    <p>第21条：</p>
    <p style="text-indent: 16px;">在经过处理无法识别特定主体且不能复原的前提下，众惠金服有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</p>
    <h3>第四章 服务费用说明</h3>
    <p>第22条：</p>
    <p style="text-indent: 16px;">用户使用众惠金服通过哆啦付平台提供的服务时，众惠金服有权向用户收取相关费用。费用收取标准和规则详见用户与众惠金服签署的相关具体协议的约定。</p>
    <p>第23条：</p>
    <p style="text-indent: 16px;">
        用户在使用众惠金服通过哆啦付平台提供的服务时可能需要向其他主体支付一定的费用，具体收费标准和规则详见用户与众惠金服或（及）其他主体签署的相关具体协议的约定，或哆啦付平台公布的相应收费说明。</p>
    <h3>第五章 用户账户安全承诺</h3>
    <p>第24条：</p>
    <p style="text-indent: 16px;">用户账户是用户在哆啦付平台的唯一标识。用户承诺妥善保管其账号和密码，不将个人账号信息泄露给任何其他主体；否则，由此产生的损失，由用户自行承担。</p>
    <p>第25条：</p>
    <p style="text-indent: 16px;">
        用户同意，确保账户安全是用户的责任。用户通过其在哆啦付平台的账户所进行的一切操作，发布的一切言论，都视为用户的行为及其真实意图的表达，所有损失及法律后果由用户自行承担。</p>
    <p>第26条：</p>
    <p style="text-indent: 16px;">
        为了对用户进行身份核验，保障用户登录安全，众惠金服会记录用户使用设备的基础信息，包括国际移动设备标识、网络设备的物理地址、设备序列号、设备名称、设备品牌、设备机型、操作系统等。并且会记录用户地理位置信息、WIFI信息、基站信息等。这些信息将用于对用户唯一性的识别，防止恶意登录，保障用户账户安全。</p>
    <p>第27条：</p>
    <p style="text-indent: 16px;">用户可随时登录其在哆啦付平台的账户，查询并管理该账户下用户的信息。如用户遇到任何障碍或疑问，可联系哆啦付平台客服。</p>
    <h3>第六章 用户守法承诺</h3>
    <p>第28条：</p>
    <p style="text-indent: 16px;">
        用户承诺不以任何非法目的或途径使用众惠金服通过哆啦付平台提供的服务，并遵守相关法律、法规、政策、规范性文件及众惠金服制定的各制度、规则的规定。因违背上述承诺造成的损失及后果，用户自行负全部责任。</p>
    <p>第29条：</p>
    <p style="text-indent: 16px;">用户承诺严格按照本协议履行义务。如未完全履行义务，众惠金服有权将其违约行为记入用户信用资料，并有权通过合法方式公布其违约行为。</p>
    <h3>第七章 哆啦付服务中断说明</h3>
    <p>第30条：</p>
    <p style="text-indent: 16px;">
        基于互联网的特殊性，众惠金服通过哆啦付平台提供的服务存在中断的可能性，用户对次表示理解。由于系统维护、设备故障、黑客攻击及其他不可抗力的影响，而导致用户无法正常使用相关服务时，众惠金服不承担任何责任。</p>
    <h3>第八章 责任范围说明</h3>
    <p>第31条：</p>
    <p style="text-indent: 16px;">众惠金服合作机构提供的服务由该合作单位负责，众惠金服不承担任何责任。</p>
    <p>第32条：</p>
    <p style="text-indent: 16px;">用户从众惠金服工作人员处取得的建议、说明，不构成众惠金服对服务的承诺和保证；用户自行决策，由此产生的法律后果，由用户自行承担相应后果和责任。</p>
    <h3>第九章 用户隐私保护说明</h3>
    <p>第33条：</p>
    <p style="text-indent: 16px;"> 用户同意，众惠金服可通过任何合法途径收集用户的额外信息，以更好地掌握用户的实际情况。</p>
    <p>第34条：</p>
    <p style="text-indent: 16px;"> 为避免用户通过哆啦付平台从事违法、违规或犯罪活动，保护众惠金服及其他用户的合法权益，众惠金服有权通过人工或自动程序对用户信息进行审核及评价。</p>
    <p>第35条：</p>
    <p style="text-indent: 16px;">
        众惠金服制定了严格的用户信息处理规则和采取必要技术措施保护用户的信息安全，确保用户信息不被滥用。除征得用户明确同意和法律法规另有规定或国家司法、行政机关、行业协会、相应监管机构要求，本平台不会向任何第三方提供或对外披露用户信息。</p>
    <h3>第十章 知识产权保护说明</h3>
    <p>第36条：</p>
    <p style="text-indent: 16px;">
        哆啦付平台上所有内容的知识产权均由众惠金服及其权利人依法拥有，包括但不限于文本、数据、文章、图片、资讯、平台架构、网页设计等。未经众惠金服或其权利人书面同意，任何人不得擅自使用、修改、复制、公开发布相关内容；如有违反，用户应对众惠金服及其权利人承担损害赔偿等法律责任。</p>
    <h3>第十一章 法律适用说明</h3>
    <p>第37条：</p>
    <p style="text-indent: 16px;">
        本协议由用户与众惠金服共同签订，适用于用户在哆啦付平台的一切活动。众惠金服通过哆啦付平台已发布的或将来可能发布的各类规则，都应视为本协议不可分割的一部分，与协议正文条款享有同等法律效力。</p>
    <p>第38条：</p>
    <p style="text-indent: 16px;">众惠金服对本协议具有最终解释权。</p>
    <p>第39条：</p>
    <p style="text-indent: 16px;">
        本协议签订地为中华人民共和国杭州市。因本协议所引起的用户与众惠金服的任何纠纷及争议，各方一致同意，不论争议金额大小，均提交杭州仲裁委员会适用杭州仲裁委员会仲裁规则项下的简易程序进行仲裁。仲裁裁决为终局裁决，对双方均具有约束力。</p>
</div>
</body>
</html>
