<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shoumipay.v2.mapper.InfoMapper" >
  <insert id="addInfo" parameterType="com.shoumipay.v2.vo.InfoVO">
    insert into registration(phonenum,education,sesame) values (#{phonenum},#{education},#{zhimaCredit})
  </insert>

</mapper>